.home {
	.backgroundPhoto {
		width:100%;
	}

	.backgroundPhotoClipLeft {
		width: 0;
	    height: 0;
	    border-left: 30rem solid transparent;
	    position: absolute;
	    margin-top: -2rem;
	    width: 50%;
	    background: white;
	    height: 5rem;
	    transform: rotate(3deg);
	    margin-left: -5px;
	}
	.backgroundPhotoClipRight {
		width: 0;
	    height: 0;
	    border-left: 30rem solid transparent;
	    position: absolute;
	    margin-top: -2rem;
	    width: 52%;
	    background: white;
	    height: 5rem;
	    transform: rotate(-3deg);
	    left: 50%;
	}

	.personPhotoContainer {
		position: absolute;
		left: calc(50% - 6rem);
		margin-top: -6rem;
		margin-left:0px;
	}
	.profileName {
		margin-top: 6rem;
		text-align: center;
	}
	.profileTitle {
		text-align: center;
		color: rgb(125,187,216);
	}

	.profileIcon {
		width: 2rem;
		height: 2rem;
		padding:5px;
	}
}