.profile {
    padding: 1rem;

    .calendar {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: -5px;
        padding: 5px;
    }

    .personPhotoContainer {
        margin: 0;
        background-color: rgba(243,246,248,.94);
         box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    }

    .profileIcon {
        width: 2rem;
        height: 2rem;
        padding:5px;
    }
}