@import '../../styles/_settings.scss';
.personPhotoContainer {
    width: 12rem;
    height: 12rem;
    border-radius: 12rem;
    overflow: hidden;
    margin-left: 12rem;
    border: white solid 8px;

	img {
		height: 12rem;
		width: 12rem;
	}
}