body {
    background-color: #6c757d;
    // overflow: hidden;
    font-family: $font-family;
}

.container {
    width: 100%;
    max-width: 100%!important;

    &,.row,.col-12, .col-5, .col, .col-4, .col-3 {
        padding: 0;
        margin: 0;
    }
}

.bar {
    background: #b4c1cd !important;
}